name: wp_osrodek_klikuszowa_pl

volumes:
  wp_html:
  db_data:


services:
  wordpress:
    image: wordpress:6.6.2-php8.3-apache
    container_name: wp_osrodek_klikuszowa_pl_app
    env_file: [ .env ]
    ports:
      - "127.0.0.1:8083:80"
    environment:
      WORDPRESS_DB_HOST: mysql:3306
      WORDPRESS_DB_NAME: ${DB_NAME}
      WORDPRESS_DB_USER: ${DB_USER}
      WORDPRESS_DB_PASSWORD: ${DB_PASSWORD}
      WORDPRESS_CONFIG_EXTRA: |
        define('FORCE_SSL_ADMIN', true);
        define('WP_MEMORY_LIMIT', '256M');
    volumes:
      - wp_html:/var/www/html
      - ./data/wp-content:/var/www/html/wp-content
      - ./php/php.ini:/usr/local/etc/php/conf.d/uploads.ini:ro
    depends_on:
      mysql:
        condition: service_healthy
    healthcheck:
      test: [ "CMD-SHELL", "curl -fsS http://localhost/wp-login.php >/dev/null || exit 1" ]
      interval: 30s
      timeout: 5s
      retries: 10
    restart: unless-stopped

  mysql:
    image: mysql:8.0.40
    container_name: wp_osrodek_klikuszowa_pl_db
    env_file: [ .env ]
    command: >
      --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci --default-authentication-plugin=mysql_native_password
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
      MYSQL_DATABASE: ${DB_NAME}
      MYSQL_USER: ${DB_USER}
      MYSQL_PASSWORD: ${DB_PASSWORD}
    volumes:
      - db_data:/var/lib/mysql
    healthcheck:
      test: [ "CMD", "mysqladmin", "ping", "-h", "127.0.0.1", "-uroot", "-p${DB_ROOT_PASSWORD}" ]
      interval: 5s
      timeout: 3s
      retries: 20
    restart: unless-stopped

  wp_init:
    image: wordpress:cli-php8.3
    depends_on:
      - wordpress
      - mysql
    environment:
      WP_URL: ${WP_URL}
      WP_TITLE: ${WP_TITLE}
      WP_ADMIN_USER: ${WP_ADMIN_USER}
      WP_ADMIN_PASS: ${WP_ADMIN_PASS}
      WP_ADMIN_EMAIL: ${WP_ADMIN_EMAIL}
      WORDPRESS_DB_HOST: mysql:3306
      WORDPRESS_DB_NAME: ${DB_NAME}
      WORDPRESS_DB_USER: ${DB_USER}
      WORDPRESS_DB_PASSWORD: ${DB_PASSWORD}
    volumes:
      - wp_html:/var/www/html
      - ./data/wp-content:/var/www/html/wp-content
    entrypoint: [ "/bin/bash", "-lc" ]
    command: |
      set -e
      cd /var/www/html
      if ! wp core is-installed --quiet; then
        wp core install \
          --url="${WP_URL}" \
          --title="${WP_TITLE}" \
          --admin_user="${WP_ADMIN_USER}" \
          --admin_password="${WP_ADMIN_PASS}" \
          --admin_email="${WP_ADMIN_EMAIL}" \
          --skip-email
      fi
    restart: "no"
